/* src/styles/scrollbar.css */

.invisible-scrollbar::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  
  .invisible-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  